:root {
	--bg-primary: #14161C;
	--bg-secondary: #fff;

	--theme-primary: #FFDD74;
	
}

* {
	margin: 0;
	padding: 0;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	color: #333;
	position: relative;
	-webkit-font-smoothing: antialiased;
	background: var(--bg-secondary);
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}
